Instala as Bibliotecas

In [1]:
pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.12/site-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in ./.venv/lib/python3.12/site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.12/site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in ./.venv/lib/python3.12/site-packages (2.9.11)
Note: you may need to restart the kernel to use updated packages.

Importar as bibliotecas

In [4]:
import pandas as pd
pd.set_option("display.max_colwidth", 150)
pd.set_option("display.min_rows", 20)

from sqlalchemy import create_engine
from datetime import datetime, timedelta
import time

Baixando os dados

In [7]:
import requests

url = "https://www.tesourotransparente.gov.br/ckan/dataset/df56aa42-484a-4a59-8184-7676580c81e3/resource/796d2059-14e9-44e3-80c9-2d9e30b405c1/download/PrecoTaxaTesouroDireto.csv"

headers = {
    "User-Agent": "Mozilla/5.0"
}

response = requests.get(url, headers=headers)

with open("PrecoTaxaTesouroDireto.csv", "wb") as f:
    f.write(response.content)

print("Download concluído.")

Download concluído.

Definir função para buscar dados

In [8]:
def busca_titulos_tesouro_direto():
    df = pd.read_csv("PrecoTaxaTesouroDireto.csv", sep=';', decimal=',')
    df["Data_Vencimento"] = pd.to_datetime(df["Data Vencimento"], dayfirst=True)
    df["Data_Base"] = pd.to_datetime(df["Data Base"], dayfirst=True)
    multi_indice = pd.MultiIndex.from_frame(df.iloc[:, :3])
    df = df.set_index(multi_indice).iloc[:, 3:]
    return df

Busca os títulos do Tesouro Direto

In [9]:
titulos = busca_titulos_tesouro_direto()

In [11]:
titulos.head(10)

                                                                   Taxa Compra Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado com Juros Semestrais 01/01/2017      14/04/2009              12.97
                                       01/01/2013      14/04/2009              12.27
                                       01/01/2012      14/04/2009              11.43
                                       01/01/2011      14/04/2009              10.61
                                       01/07/2010      14/04/2009              10.17
                                       01/01/2014      14/04/2009              12.65
                                       01/01/2010      14/04/2009               9.81
Tesouro Selic                          17/03/2010      13/04/2009              -0.01
                                       16/03/2011      13/04/2009               0.00
                                       07/03/2012      13/04/2009               0.00

                                                                   Taxa Venda Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado com Juros Semestrais 01/01/2017      14/04/2009             13.03
                                       01/01/2013      14/04/2009             12.33
                                       01/01/2012      14/04/2009             11.49
                                       01/01/2011      14/04/2009             10.66
                                       01/07/2010      14/04/2009             10.21
                                       01/01/2014      14/04/2009             12.71
                                       01/01/2010      14/04/2009              9.85
Tesouro Selic                          17/03/2010      13/04/2009              0.00
                                       16/03/2011      13/04/2009              0.02
                                       07/03/2012      13/04/2009              0.03

                                                                   PU Compra Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado com Juros Semestrais 01/01/2017      14/04/2009           892.57
                                       01/01/2013      14/04/2009           965.59
                                       01/01/2012      14/04/2009           997.29
                                       01/01/2011      14/04/2009          1019.11
                                       01/07/2010      14/04/2009          1026.90
                                       01/01/2014      14/04/2009           940.55
                                       01/01/2010      14/04/2009          1028.86
Tesouro Selic                          17/03/2010      13/04/2009          3850.09
                                       16/03/2011      13/04/2009          3849.74
                                       07/03/2012      13/04/2009          3849.74

                                                                   PU Venda Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado com Juros Semestrais 01/01/2017      14/04/2009          890.10
                                       01/01/2013      14/04/2009          964.00
                                       01/01/2012      14/04/2009          996.02
                                       01/01/2011      14/04/2009         1018.39
                                       01/07/2010      14/04/2009         1026.47
                                       01/01/2014      14/04/2009          938.69
                                       01/01/2010      14/04/2009         1028.61
Tesouro Selic                          17/03/2010      13/04/2009         3849.74
                                       16/03/2011      13/04/2009         3848.26
                                       07/03/2012      13/04/2009         3846.40

                                                                   PU Base Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado com Juros Semestrais 01/01/2017      14/04/2009         889.66
                                       01/01/2013      14/04/2009         963.55
                                       01/01/2012      14/04/2009         995.59
                                       01/01/2011      14/04/2009        1017.98
                                       01/07/2010      14/04/2009        1026.08
                                       01/01/2014      14/04/2009         938.24
                                       01/01/2010      14/04/2009        1028.22
Tesouro Selic                          17/03/2010      13/04/2009        3848.11
                                       16/03/2011      13/04/2009        3846.63
                                       07/03/2012      13/04/2009        3844.77

                                                                  Data_Vencimento  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado com Juros Semestrais 01/01/2017      14/04/2009      2017-01-01
                                       01/01/2013      14/04/2009      2013-01-01
                                       01/01/2012      14/04/2009      2012-01-01
                                       01/01/2011      14/04/2009      2011-01-01
                                       01/07/2010      14/04/2009      2010-07-01
                                       01/01/2014      14/04/2009      2014-01-01
                                       01/01/2010      14/04/2009      2010-01-01
Tesouro Selic                          17/03/2010      13/04/2009      2010-03-17
                                       16/03/2011      13/04/2009      2011-03-16
                                       07/03/2012      13/04/2009      2012-03-07

                                                                   Data_Base
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado com Juros Semestrais 01/01/2017      14/04/2009 2009-04-14
                                       01/01/2013      14/04/2009 2009-04-14
                                       01/01/2012      14/04/2009 2009-04-14
                                       01/01/2011      14/04/2009 2009-04-14
                                       01/07/2010      14/04/2009 2009-04-14
                                       01/01/2014      14/04/2009 2009-04-14
                                       01/01/2010      14/04/2009 2009-04-14
Tesouro Selic                          17/03/2010      13/04/2009 2009-04-13
                                       16/03/2011      13/04/2009 2009-04-13
                                       07/03/2012      13/04/2009 2009-04-13

Busca somente os Préfixados

In [12]:
prefixado = titulos.loc[('Tesouro Prefixado')]
prefixado['Tipo'] = "PRE-FIXADOS"

In [14]:
prefixado.head(10)

,,Taxa Compra Manha,Taxa Venda Manha,PU Compra Manha,PU Venda Manha,PU Base Manha,Data_Vencimento,Data_Base,Tipo
Data Vencimento,Data Base,,,,,,,,
01/01/2012,13/04/2009,11.16,11.22,750.69,749.60,749.28,2012-01-01,2009-04-13,PRE-FIXADOS
01/01/2011,13/04/2009,10.49,10.54,842.81,842.16,841.82,2011-01-01,2009-04-13,PRE-FIXADOS
01/07/2010,13/04/2009,10.10,10.14,890.40,890.01,889.67,2010-07-01,2009-04-13,PRE-FIXADOS
01/01/2010,13/04/2009,9.77,9.81,935.23,934.99,934.64,2010-01-01,2009-04-13,PRE-FIXADOS
01/10/2009,13/04/2009,9.84,9.87,957.00,956.88,956.52,2009-10-01,2009-04-13,PRE-FIXADOS
01/07/2009,13/04/2009,10.20,10.23,979.77,979.72,979.34,2009-07-01,2009-04-13,PRE-FIXADOS
01/01/2012,09/04/2009,11.18,11.24,750.01,748.91,748.60,2012-01-01,2009-04-09,PRE-FIXADOS
01/01/2011,09/04/2009,10.55,10.60,841.69,841.04,840.70,2011-01-01,2009-04-09,PRE-FIXADOS
01/10/2009,09/04/2009,9.89,9.92,956.44,956.31,955.95,2009-10-01,2009-04-09,PRE-FIXADOS
01/01/2010,09/04/2009,9.81,9.85,934.64,934.40,934.05,2010-01-01,2009-04-09,PRE-FIXADOS

In [15]:
for i, row in prefixado.iterrows():
    ifor_val = datetime.now() - timedelta(hours=1, minutes=0)
    prefixado.at[i,'dt_update'] = ifor_val
    time.sleep(1/10000)

In [16]:
prefixado

,,Taxa Compra Manha,Taxa Venda Manha,PU Compra Manha,PU Venda Manha,PU Base Manha,Data_Vencimento,Data_Base,Tipo,dt_update
Data Vencimento,Data Base,,,,,,,,,
01/01/2012,13/04/2009,11.16,11.22,750.69,749.60,749.28,2012-01-01,2009-04-13,PRE-FIXADOS,2026-02-11 21:48:42.664647
01/01/2011,13/04/2009,10.49,10.54,842.81,842.16,841.82,2011-01-01,2009-04-13,PRE-FIXADOS,2026-02-11 21:48:42.676908
01/07/2010,13/04/2009,10.10,10.14,890.40,890.01,889.67,2010-07-01,2009-04-13,PRE-FIXADOS,2026-02-11 21:48:42.677387
01/01/2010,13/04/2009,9.77,9.81,935.23,934.99,934.64,2010-01-01,2009-04-13,PRE-FIXADOS,2026-02-11 21:48:42.677785
01/10/2009,13/04/2009,9.84,9.87,957.00,956.88,956.52,2009-10-01,2009-04-13,PRE-FIXADOS,2026-02-11 21:48:42.678226
01/07/2009,13/04/2009,10.20,10.23,979.77,979.72,979.34,2009-07-01,2009-04-13,PRE-FIXADOS,2026-02-11 21:48:42.678652
01/01/2012,09/04/2009,11.18,11.24,750.01,748.91,748.60,2012-01-01,2009-04-09,PRE-FIXADOS,2026-02-11 21:48:42.679028
01/01/2011,09/04/2009,10.55,10.60,841.69,841.04,840.70,2011-01-01,2009-04-09,PRE-FIXADOS,2026-02-11 21:48:42.679469
01/10/2009,09/04/2009,9.89,9.92,956.44,956.31,955.95,2009-10-01,2009-04-09,PRE-FIXADOS,2026-02-11 21:48:42.679911
01/01/2010,09/04/2009,9.81,9.85,934.64,934.40,934.05,2010-01-01,2009-04-09,PRE-FIXADOS,2026-02-11 21:48:42.680290
...,...,...,...,...,...,...,...,...,...,...
01/10/2006,26/09/2006,14.17,14.20,998.42,998.42,997.89,2006-10-01,2006-09-26,PRE-FIXADOS,2026-02-11 21:48:54.873013
01/07/2007,25/09/2006,13.70,13.74,908.19,907.95,907.49,2007-07-01,2006-09-25,PRE-FIXADOS,2026-02-11 21:48:54.873310
01/10/2006,25/09/2006,14.17,14.20,997.89,997.89,997.36,2006-10-01,2006-09-25,PRE-FIXADOS,2026-02-11 21:48:54.873645
01/01/2008,25/09/2006,13.78,13.82,850.97,850.60,850.16,2008-01-01,2006-09-25,PRE-FIXADOS,2026-02-11 21:48:54.873987
01/04/2008,25/09/2006,13.84,13.89,824.14,823.60,823.18,2008-04-01,2006-09-25,PRE-FIXADOS,2026-02-11 21:48:54.874315
01/07/2008,25/09/2006,13.91,13.96,797.42,796.81,796.40,2008-07-01,2006-09-25,PRE-FIXADOS,2026-02-11 21:48:54.874616
01/01/2009,25/09/2006,13.99,14.05,744.04,743.16,742.77,2009-01-01,2006-09-25,PRE-FIXADOS,2026-02-11 21:48:54.874915
01/10/2007,25/09/2006,13.74,13.78,878.74,878.43,877.98,2007-10-01,2006-09-25,PRE-FIXADOS,2026-02-11 21:48:54.875215
01/01/2007,25/09/2006,13.84,13.87,967.11,967.05,966.55,2007-01-01,2006-09-25,PRE-FIXADOS,2026-02-11 21:48:54.875513
01/04/2007,25/09/2006,13.73,13.77,937.21,937.05,936.57,2007-04-01,2006-09-25,PRE-FIXADOS,2026-02-11 21:48:54.875810

Busca os IPCAs

In [17]:
ipca = titulos.loc[('Tesouro IPCA+')]
ipca['Tipo'] = "IPCA"

In [18]:
for i, row in ipca.iterrows():
    ifor_val = datetime.now() - timedelta(hours=1, minutes=0)
    ipca.at[i,'dt_update'] = ifor_val
    time.sleep(1/10000)

In [19]:
ipca

                            Taxa Compra Manha  Taxa Venda Manha  \
Data Vencimento Data Base
15/08/2024      13/04/2009               6.99              7.07
15/05/2015      13/04/2009               7.22              7.28
15/08/2024      09/04/2009               6.97              7.05
15/05/2015      09/04/2009               7.17              7.23
15/08/2024      08/04/2009               6.98              7.06
15/05/2015      08/04/2009               7.11              7.17
                07/04/2009               7.11              7.17
15/08/2024      07/04/2009               6.97              7.05
                20/05/2009               6.74              6.82
15/05/2015      20/05/2009               6.87              6.93
...                                       ...               ...
                01/09/2006               8.91              8.97
15/08/2024      01/09/2006               7.86              7.94
                31/08/2006               7.82              7.90
15/05/2015      31/08/2006               9.00              9.06
15/08/2024      28/09/2006               7.91              7.99
15/05/2015      28/09/2006               8.96              9.02
15/08/2024      27/09/2006               7.91              7.99
15/05/2015      27/09/2006               8.94              9.00
15/08/2024      26/09/2006               7.90              7.98
15/05/2015      26/09/2006               8.97              9.03

                            PU Compra Manha  PU Venda Manha  PU Base Manha  \
Data Vencimento Data Base
15/08/2024      13/04/2009           645.69          638.35         638.14
15/05/2015      13/04/2009          1187.79         1183.76        1183.35
15/08/2024      09/04/2009           647.32          639.96         639.63
15/05/2015      09/04/2009          1190.75         1186.71        1186.08
15/08/2024      08/04/2009           646.06          638.71         638.50
15/05/2015      08/04/2009          1194.18         1190.12        1189.71
                07/04/2009          1193.68         1189.62        1189.22
15/08/2024      07/04/2009           646.72          639.36         639.15
                20/05/2009           677.27          669.61         669.36
15/05/2015      20/05/2009          1226.38         1222.27        1221.81
...                                     ...             ...            ...
                01/09/2006           763.62          759.99         759.58
15/08/2024      01/09/2006           413.56          408.11         407.91
                31/08/2006           416.10          410.62         410.47
15/05/2015      31/08/2006           757.77          754.17         753.86
15/08/2024      28/09/2006           412.33          406.92         406.78
15/05/2015      28/09/2006           765.16          761.55         761.26
15/08/2024      27/09/2006           412.18          406.78         406.64
15/05/2015      27/09/2006           766.07          762.46         762.16
15/08/2024      26/09/2006           412.72          407.31         407.16
15/05/2015      26/09/2006           763.97          760.36         760.06

                           Data_Vencimento  Data_Base  Tipo  \
Data Vencimento Data Base
15/08/2024      13/04/2009      2024-08-15 2009-04-13  IPCA
15/05/2015      13/04/2009      2015-05-15 2009-04-13  IPCA
15/08/2024      09/04/2009      2024-08-15 2009-04-09  IPCA
15/05/2015      09/04/2009      2015-05-15 2009-04-09  IPCA
15/08/2024      08/04/2009      2024-08-15 2009-04-08  IPCA
15/05/2015      08/04/2009      2015-05-15 2009-04-08  IPCA
                07/04/2009      2015-05-15 2009-04-07  IPCA
15/08/2024      07/04/2009      2024-08-15 2009-04-07  IPCA
                20/05/2009      2024-08-15 2009-05-20  IPCA
15/05/2015      20/05/2009      2015-05-15 2009-05-20  IPCA
...                                    ...        ...   ...
                01/09/2006      2015-05-15 2006-09-01  IPCA
15/08/2024      01/09/2006      2024-08-15 2006-09-01  IPCA
                31/08/2006      2024-08-15 2006-08-31  IPCA
15/05/2015      31/08/2006      2015-05-15 2006-08-31  IPCA
15/08/2024      28/09/2006      2024-08-15 2006-09-28  IPCA
15/05/2015      28/09/2006      2015-05-15 2006-09-28  IPCA
15/08/2024      27/09/2006      2024-08-15 2006-09-27  IPCA
15/05/2015      27/09/2006      2015-05-15 2006-09-27  IPCA
15/08/2024      26/09/2006      2024-08-15 2006-09-26  IPCA
15/05/2015      26/09/2006      2015-05-15 2006-09-26  IPCA

                                            dt_update
Data Vencimento Data Base
15/08/2024      13/04/2009 2026-02-11 21:49:44.858156
15/05/2015      13/04/2009 2026-02-11 21:49:44.862073
15/08/2024      09/04/2009 2026-02-11 21:49:44.862733
15/05/2015      09/04/2009 2026-02-11 21:49:44.863229
15/08/2024      08/04/2009 2026-02-11 21:49:44.863695
15/05/2015      08/04/2009 2026-02-11 21:49:44.864146
                07/04/2009 2026-02-11 21:49:44.864600
15/08/2024      07/04/2009 2026-02-11 21:49:44.865080
                20/05/2009 2026-02-11 21:49:44.865543
15/05/2015      20/05/2009 2026-02-11 21:49:44.866039
...                                               ...
                01/09/2006 2026-02-11 21:49:53.067660
15/08/2024      01/09/2006 2026-02-11 21:49:53.068083
                31/08/2006 2026-02-11 21:49:53.068507
15/05/2015      31/08/2006 2026-02-11 21:49:53.068933
15/08/2024      28/09/2006 2026-02-11 21:49:53.069420
15/05/2015      28/09/2006 2026-02-11 21:49:53.069851
15/08/2024      27/09/2006 2026-02-11 21:49:53.070284
15/05/2015      27/09/2006 2026-02-11 21:49:53.070707
15/08/2024      26/09/2006 2026-02-11 21:49:53.071129
15/05/2015      26/09/2006 2026-02-11 21:49:53.071558

[17801 rows x 9 columns]

In [20]:
#frames = [prefixado, ipca]
#todos = pd.concat(frames)
ipca = ipca.rename(columns={"Data Vencimento": "DataVencimento", "Data Base": "Data_Base", "Taxa Compra Manha": "CompraManha", "Taxa Venda Manha": "VendaManha", "PU Compra Manha": "PUCompraManha", "PU Venda Manha": "PUVendaManha",  "PU Base Manha": "PUBaseManha"})
prefixado = prefixado.rename(columns={"Data Vencimento": "DataVencimento", "Data Base": "Data_Base", "Taxa Compra Manha": "CompraManha", "Taxa Venda Manha": "VendaManha", "PU Compra Manha": "PUCompraManha", "PU Venda Manha": "PUVendaManha",  "PU Base Manha": "PUBaseManha"})

In [21]:
ipca

                            CompraManha  VendaManha  PUCompraManha  \
Data Vencimento Data Base
15/08/2024      13/04/2009         6.99        7.07         645.69
15/05/2015      13/04/2009         7.22        7.28        1187.79
15/08/2024      09/04/2009         6.97        7.05         647.32
15/05/2015      09/04/2009         7.17        7.23        1190.75
15/08/2024      08/04/2009         6.98        7.06         646.06
15/05/2015      08/04/2009         7.11        7.17        1194.18
                07/04/2009         7.11        7.17        1193.68
15/08/2024      07/04/2009         6.97        7.05         646.72
                20/05/2009         6.74        6.82         677.27
15/05/2015      20/05/2009         6.87        6.93        1226.38
...                                 ...         ...            ...
                01/09/2006         8.91        8.97         763.62
15/08/2024      01/09/2006         7.86        7.94         413.56
                31/08/2006         7.82        7.90         416.10
15/05/2015      31/08/2006         9.00        9.06         757.77
15/08/2024      28/09/2006         7.91        7.99         412.33
15/05/2015      28/09/2006         8.96        9.02         765.16
15/08/2024      27/09/2006         7.91        7.99         412.18
15/05/2015      27/09/2006         8.94        9.00         766.07
15/08/2024      26/09/2006         7.90        7.98         412.72
15/05/2015      26/09/2006         8.97        9.03         763.97

                            PUVendaManha  PUBaseManha Data_Vencimento  \
Data Vencimento Data Base
15/08/2024      13/04/2009        638.35       638.14      2024-08-15
15/05/2015      13/04/2009       1183.76      1183.35      2015-05-15
15/08/2024      09/04/2009        639.96       639.63      2024-08-15
15/05/2015      09/04/2009       1186.71      1186.08      2015-05-15
15/08/2024      08/04/2009        638.71       638.50      2024-08-15
15/05/2015      08/04/2009       1190.12      1189.71      2015-05-15
                07/04/2009       1189.62      1189.22      2015-05-15
15/08/2024      07/04/2009        639.36       639.15      2024-08-15
                20/05/2009        669.61       669.36      2024-08-15
15/05/2015      20/05/2009       1222.27      1221.81      2015-05-15
...                                  ...          ...             ...
                01/09/2006        759.99       759.58      2015-05-15
15/08/2024      01/09/2006        408.11       407.91      2024-08-15
                31/08/2006        410.62       410.47      2024-08-15
15/05/2015      31/08/2006        754.17       753.86      2015-05-15
15/08/2024      28/09/2006        406.92       406.78      2024-08-15
15/05/2015      28/09/2006        761.55       761.26      2015-05-15
15/08/2024      27/09/2006        406.78       406.64      2024-08-15
15/05/2015      27/09/2006        762.46       762.16      2015-05-15
15/08/2024      26/09/2006        407.31       407.16      2024-08-15
15/05/2015      26/09/2006        760.36       760.06      2015-05-15

                            Data_Base  Tipo                  dt_update
Data Vencimento Data Base
15/08/2024      13/04/2009 2009-04-13  IPCA 2026-02-11 21:49:44.858156
15/05/2015      13/04/2009 2009-04-13  IPCA 2026-02-11 21:49:44.862073
15/08/2024      09/04/2009 2009-04-09  IPCA 2026-02-11 21:49:44.862733
15/05/2015      09/04/2009 2009-04-09  IPCA 2026-02-11 21:49:44.863229
15/08/2024      08/04/2009 2009-04-08  IPCA 2026-02-11 21:49:44.863695
15/05/2015      08/04/2009 2009-04-08  IPCA 2026-02-11 21:49:44.864146
                07/04/2009 2009-04-07  IPCA 2026-02-11 21:49:44.864600
15/08/2024      07/04/2009 2009-04-07  IPCA 2026-02-11 21:49:44.865080
                20/05/2009 2009-05-20  IPCA 2026-02-11 21:49:44.865543
15/05/2015      20/05/2009 2009-05-20  IPCA 2026-02-11 21:49:44.866039
...                               ...   ...                        ...
                01/09/2006 2006-09-01  IPCA 2026-02-11 21:49:53.067660
15/08/2024      01/09/2006 2006-09-01  IPCA 2026-02-11 21:49:53.068083
                31/08/2006 2006-08-31  IPCA 2026-02-11 21:49:53.068507
15/05/2015      31/08/2006 2006-08-31  IPCA 2026-02-11 21:49:53.068933
15/08/2024      28/09/2006 2006-09-28  IPCA 2026-02-11 21:49:53.069420
15/05/2015      28/09/2006 2006-09-28  IPCA 2026-02-11 21:49:53.069851
15/08/2024      27/09/2006 2006-09-27  IPCA 2026-02-11 21:49:53.070284
15/05/2015      27/09/2006 2006-09-27  IPCA 2026-02-11 21:49:53.070707
15/08/2024      26/09/2006 2006-09-26  IPCA 2026-02-11 21:49:53.071129
15/05/2015      26/09/2006 2006-09-26  IPCA 2026-02-11 21:49:53.071558

[17801 rows x 9 columns]

Grava os dados no Banco de Dados

In [22]:
connection_string = "postgresql://postgres:postgres@localhost:5432/postgres"

In [23]:
engine = create_engine(connection_string)

In [24]:
ipca.to_sql("dadostesouroipca", con=engine, if_exists="replace", index=False)
prefixado.to_sql("dadostesouropre", con=engine, if_exists="replace", index=False)

370